#burger-menu {
  display: none;
  align-items: center;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: azure;
  margin: 3px 0;
}

/* Media Query for Small Screens */
@media (max-width: 1030px) {
  #navbar-links {
      display: none; /* Hide regular navigation links */
  }
  
  #burger-menu {
      display: flex;
  }
  
  /* Show the sticky header when burger menu is active */
  .sticky-header {
      top: 0;
  }
}

@media (max-width: 1040px) {
  /* ... */
  #navbar {
      display: none; /* Hide the regular navbar on small screens */
  }
  
  /* ... */
  #navbar li {
      text-align: center;
      padding: 15px 0;
  }
  
  /* ... */
  #burger-navbar {
      display: none;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #28282B;
  }
  
  /* ... */
  #burger-navbar.active {
      display: flex;
  }
}

.logo {
    width: 185px;
    height: auto;
    cursor: pointer;
    margin: 15px 20px 0 0;
    transition: max-width 0.5s ease;
  }

.body {
  margin: 0;
  padding: 0;
}

  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 25px 80px;
    background-color: #28282B;
    background-repeat: no-repeat;
    background-size: cover; 
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px black;
    z-index: 1000;
    width: 100%;
    transition: 0.5s ease;
}

.sticky-header {
  position: fixed;
  top: -100px; 
  transition: top 0.5s; 
}
  
.walker-systems {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(0, 9, 139);
  margin-right: 20px; 
  flex: 1; 
  background-color: transparent;
}

.walker-systems h5{
  font-size: 50px;
  font-weight: 1000;
  position: relative;
  top: 0px;
  -webkit-text-stroke: 1.5px white; 
  font-style: italic; 
    text-shadow: 0px 0px 35px rgba(255, 0, 0, 0.8);
}

.walker-systems h6{
  font-size: 50px;
  font-weight: 1000;
  position: absolute;
  top: 70px;
  left: 300px;
  -webkit-text-stroke: 1.5px white; 
  font-style: italic; 
  text-shadow: 0px 0px 35px rgba(255, 0, 0, 0.8);
  margin-bottom: 0;
}

.walker-systems:hover {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(0, 9, 139);
  margin-right: 20px; 
  flex: 1; 
  background-color: transparent;
  text-decoration: none
}

.walker-systems h5:hover{
  font-weight: 1000;
  position: relative;
  top: 0px;
  -webkit-text-stroke: 1.5px white; 
  font-style: italic; 
    text-shadow: 0px 0px 35px rgba(255, 0, 0, 0.8);
  text-decoration: none;
}

.walker-systems h6:hover{
  font-weight: 1000;
  position: absolute;
  top: 70px;
  left: 300px;
  -webkit-text-stroke: 1.5px white; 
  font-style: italic; 
  text-shadow: 0px 0px 35px rgba(255, 0, 0, 0.8);
  margin-bottom: 0;
  text-decoration: none
}

#navbar {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent
}
#navbar li{
  list-style: none;
  padding: 0 25px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  color: azure;
  position: relative;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(0, 9, 139); 
}

#navbar li a:hover .glyphicon,
#navbar li a.active .glyphicon {
    color: rgb(0, 9, 139); 
}

.nav-text {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.nav-text:hover {
    color: rgb(0, 9, 139); 
}


#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 4px; 
  background: rgb(0, 9, 139);
  position: absolute;
  bottom: -4px;
  left: 50%
}

#navbar li a:hover,
#navbar li a.active {
  color: rgb(0, 9, 139);
  text-decoration: none; 
  text-shadow: 0px 0px 10px white; 
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 50%;
  height: 4px;
  background: rgb(0, 9, 139);
  position: absolute;
  bottom: -4px;
  left: 50%;
}

#burger-navbar li{
  list-style: none;
  padding: 0 25px;
  position: relative;
}

#burger-navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: azure;
  position: relative;
  transition: 0.3s ease;
}

#burger-navbar li a:hover,
#burger-navbar li a.active {
  color: rgb(0, 9, 139);
  text-decoration: none; 
  text-shadow: 0px 0px 10px white; 
}

#burger-navbar li a.active::after {
  content: "";
  width: 30%;
  height: 4px; 
  background: rgb(0, 9, 139);
  position: absolute;
  bottom: -4px;
  left: 50%
}

#burger-navbar li a:hover,
#burger-navbar li a.active {
  color: rgb(0, 9, 139);
  text-decoration: none; 
  text-shadow: 0px 0px 10px white; 
}

#burger-navbar li a:hover::after,
#burger-navbar li a.active::after {
  content: "";
  width: 50%;
  height: 4px;
  background: rgb(0, 9, 139);
  position: absolute;
  bottom: -4px;
  left: 50%;
}

#burger-menu .glyphicon-shopping-cart{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: azure;
  position: relative;
  transition: 0.3s ease;
  padding: 0 25px;
  position: relative;
}

#burger-menu .glyphicon-shopping-cart:hover{
  color: rgb(0, 9, 139);
  text-decoration: none; 
  text-shadow: 0px 0px 10px white; 
}


#hero{
  background-image: url(assets/Engineersworkingfinale.png);
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 0;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: 100px;
}

#hero h3{
  margin-top: 0px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 30px;
  color: aliceblue;
}

#hero h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  color: black;
  font-weight: bolder;
  text-shadow:   0px 0px 15px white;
  font-family: 'Bebas Neue', sans-serif;
}

#hero h2{
  font-weight: 850;
  -webkit-text-stroke: 1px white; 
    text-shadow: 0px 0px 15px black;
    font-size: 30px;
    background-image: linear-gradient(to left,rgb(255, 0, 0), rgb(0, 8, 255));
  -webkit-background-clip: text;
  color: transparent; 
}

#hero #h2-2{
  margin-left: 105px;
  margin-bottom: 10px;
}

#slogan {
  margin-left: 40px;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 0px;
  margin-top: 15px;
}

#slogan2{
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 20px;
}


#hero button {
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 500;
  border: red;
  background-color: rgb(0, 9, 139);
  color: aliceblue;
  border: 2px solid rgb(0, 9, 139);
  padding: 15px 60px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgb(183, 1, 1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  transform-style: preserve-3d;
}

#hero button:hover {
  font-weight: 800;
  border: rgba(0, 9, 139, 0.3);
  background-color: rgb(255, 0, 0);
  transform: translateY(-5px) translateZ(5px);
  box-shadow: 0px 0px 40px rgb(1, 234, 255);
}

#product1 #h11{
  font-size: 28px;
  font-weight: bolder;
  margin-top: 0px;

}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#product1 .pro-container {
  margin-top: 0; 
}

#product1{
  text-align: center;
  background-color: #f0f5fa;
  padding-top: 20px;
}

#product1 .pro{
  margin-bottom: 20px;
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 4px solid;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(27, 27, 27, 0.06);;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(27, 27, 27, 0.06)
}

#product1 .pro img{
  width: 100%;
  border-radius: 10%;
}

#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des #h9{
  padding-top: 7px;
  color: black;
  font-size: 25px;
  font-family: 'Bebas Neue', sans-serif;
}

#product1 .pro .des #h10{
  padding-top: 5px;
  font-weight: 700;
  font-size: 20px;
  color: #088178
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  color: #94b9d5;
  line-height: 40px;
  border-radius: 50px;
  background-color: #c2e3f2;
  font-weight: 500;
  border: 1px #4eb0fb;
  position: absolute;
  top: 378px;
  right: 10px;
}

#product1 #catn {
  font-size: 14px;
  color: #f6d33c;
  font-weight: 1000
}

#banner {
  display: flex;
  flex-direction: column;
  background-image: url(assets/Banner.png);
  width: 100%;
  height: 600px;
  position: relative;
}

#banner #bh2 {
  margin-top: 128px;
  color: #fff;
  font-size: 28px;
  font-weight: 900;
  margin-left: 930px;
  margin-bottom: 5px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#banner #bh1 {
  color: #fff;
  font-size: 23px;
  padding: 10px 0;
  font-weight: 800;
  margin-left: 900px;
  margin-top: 5px;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

#banner #bh1 #bh1_shadow {
  font-style: italic;
}

#banner button {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
  box-sizing: content-box;
  margin-left: 90px;
  position: absolute;
  margin-top: 240px;
  margin-left: 980px;
}

#banner button:hover {
  background-color:  #b74e4f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

#sm-banner {
  background-color: slategray;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px
}

#sm-banner .image {
	position: relative;
  margin-bottom: 30px;
}

#sm-banner .image #sellerimg1 #sellerimg2 {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  width: 600px;
}

#sm-banner .image__img {
	display: block;
	width: 100%;
  border: 8px solid #000;
}

#sm-banner .image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #000000;
	font-family: 'Quicksand', sans-serif;
  font-size: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}

#sm-banner .image__overlay p {
  margin-left: 15px;
  margin-right: 15px;
  align-items: center;
}

#sm-banner .image__overlay--blur {
	backdrop-filter: blur(5px);
  color: white;
}

#sm-banner .image__overlay--primary {
	background: orangered;
}

#sm-banner .image__overlay--secondary {
	background: rgb(250, 240, 240);
}

#sm-banner .image__overlay--tertiary {
	background: rgb(58, 72, 228);
}

#sm-banner .image__overlay--quaternary {
	background: rgb(254, 0, 0);
}

#sm-banner .image__overlay>* {
	transform: translateY(20px);
	transition: transform 0.25s;
}

#sm-banner .image__overlay:hover {
	opacity: 0.7;
}

#sm-banner .image__overlay:hover>* {
	transform: translateY(0);
}

#sm-banner .image__title {
	font-size: 2em;
	font-weight: bold;
  margin-right: 15px;
  margin-left: 15px;
}

#sm-banner .image__description {
	font-size: 1.25em;
	margin-top: 0.25em;
}

#sm-banner .image #sellerimg3 {
  width: 400px;
}


#sm-banner .nonhovertitle {
  position: absolute;
  font-size: 40px;
  color: rgb(0, 0, 0);
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 600;
  font-family: 'Bebas Neue', sans-serif;;
  text-shadow: 0 0 10px #ffffff;
  transition: opacity 0.3s ease;
}

#sm-banner .image:hover .nonhovertitle{
  opacity: 0;
}

footer {
  background-color: #28282B;
  color: #fff;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  margin-right: 40px;
}

.footer-column h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer-column p {
  margin-top: 10px;
}

.footer-logo img {
  max-width: 150px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #FF6F61;
}

.footer-payment {
  display: flex;
  flex-direction: column;
}

.payment-icons img {
  max-width: 40px;
  margin-right: 10px;
}

.footer-disclaimer {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 1390px) {
  #navbar li:not(:last-child) a .glyphicon{
    display: none;
  }
}

@media (max-width: 1275px) {
  .logo {
    width: 165px;
  }  
  .walker-systems h5{
    font-size: 43px;
    margin-bottom: 0px;
  }

  .walker-systems h6{
    margin-top: 0px;
    font-size: 43px;
  }
}

@media (max-width: 1275px) {
  .logo {
    width: 140px;
  }  
  .walker-systems h5{
    display: none;
  }

  .walker-systems h6{
    display: none;
  }

  @media (max-width: 1035px) {

    .logo{
      display: flex;
    }

    .walker-systems h5{
      font-size: 43px;
      margin-bottom: 0px;
      display: flex;
    }
  
    .walker-systems h6{
      margin-top: 0px;
      font-size: 43px;
      display: flex;
    }
  }
}



